@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}
html, body {
  overflow-x: hidden;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee {
  display: flex;
  width: max-content;
  animation: marquee 25s linear infinite;
}

@media (max-width: 640px) {
  .marquee {
    animation-duration: 35s; /* mobile smoother */
  }
}
